.plant-card {
  border: 1px solid deeppink;
  margin-bottom: 20px;
  width: 90%;

  img {
    padding: 10px;
    float: left;
    width: 100px;
    height: 100px;
  }

  &__footer {
    clear: both;
  }
}