$font: "TT Commons", -apple-system, system-ui, Helvetica Neue, Roboto, sans-serif;
$blue: #4986CC;

:root {
  --secondary-backgroung-color: #4986CC;
  --primary-font-color: black;
  --primary-backgroung-color: white;
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.0156863) 9.22%, rgba(255, 255, 255, 0.054902) 18.76%, rgba(255, 255, 255, 0.117647) 28.48%, rgba(255, 255, 255, 0.2) 38.19%, rgba(255, 255, 255, 0.290196) 47.75%, rgba(255, 255, 255, 0.392157) 56.99%, rgba(255, 255, 255, 0.501961) 65.75%, rgba(255, 255, 255, 0.607843) 73.87%, rgba(255, 255, 255, 0.709804) 81.18%, rgba(255, 255, 255, 0.8) 87.52%, rgba(255, 255, 255, 0.882353) 92.74%, rgba(255, 255, 255, 0.945098) 96.66%, rgba(255, 255, 255, 0.984314) 99.14%, #FFFFFF 100%);
}

body[scheme="space_gray"] {
  --primary-font-color: white;
  --primary-backgroung-color: black;
  --secondary-backgroung-color: #eeeded;
  --gradient: linear-gradient(180deg, rgba(44, 45, 47, 0.0001) 0%, rgba(44, 45, 47, 0.0156863) 9.22%, rgba(44, 45, 47, 0.054902) 18.76%, rgba(44, 45, 47, 0.117647) 28.48%, rgba(44, 45, 47, 0.2) 38.19%, rgba(44, 45, 47, 0.290196) 47.75%, rgba(44, 45, 47, 0.392157) 56.99%, rgba(44, 45, 47, 0.501961) 65.75%, rgba(44, 45, 47, 0.607843) 73.87%, rgba(44, 45, 47, 0.709804) 81.18%, rgba(44, 45, 47, 0.8) 87.52%, rgba(44, 45, 47, 0.882353) 92.74%, rgba(44, 45, 47, 0.945098) 96.66%, rgba(44, 45, 47, 0.984314) 99.14%, #010101 100%);;
}
